<div class="container">
  <div class="row">
    `
    <nav class='navbar navbar-expand navbar-light bg-light'>
        <a class='navbar-brand'>{{pageTitle}}</a>
        <ul class='nav nav-pills'>
          <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/home']">Home</a></li>
        </ul>
    </nav>
    <div class='container'>
      <router-outlet></router-outlet>
    </div>
    
  </div>

  <router-outlet class="row"></router-outlet > <!-- import app.module ...  les lien de rouute des lien des page -->
</div>
